<?xml version="1.0" ?>
<robot name="FIBA 3X3 Ball">

<link name="bottom_of_3x3_ball">

  <contact>
    <restitution value="0.9"/>
    <rolling_friction value="0.001"/>
    <spinning_friction value="0.001"/>
  </contact>

  <inertial>
    <origin rpy="0 0 0" xyz="0 0 0.117775"/>
    <mass value="0.620"/>
    <inertia ixx="0.0017199979" ixy="0.0" ixz="0.0" iyy="0.0017199979" iyz="0" izz="0.0017199979"/>
  </inertial>

  <visual>
    <origin rpy="0 0 0 " xyz="0 0 0.117775"/>
    <geometry>
      <mesh filename="fiba3x3.obj" scale="1 1 1"/>
    </geometry>
  </visual>

  <collision>
    <origin rpy="0 0 0" xyz="0 0 0.117775"/>
    <geometry>
      <mesh filename="fiba3x3.obj" scale="1 1 1"/>
    <sphere radius="0.117775"/>
    </geometry>
  </collision>

</link>
</robot>
